<div class="content animated fadeIn">
    <div class="photo">
        <div class="image">
            <img src="../../../../assets/image/upload-photo.PNG" *ngIf="!user.photo && !urlImageSelected"/>
            <img [src]="imagenData" *ngIf="imagenEstado" />
            <img [src]="urlImageSelected" *ngIf="urlImageSelected"/>
        </div>
        <div class="content-btns">
            <div class="btnImage">
                <dx-button type="default" text="Elegir mi Foto" onclick="document.getElementById('archivo').click();"></dx-button>
                <input id="archivo" type="file" accept="image/png, image/jpeg, image/jpg" (change)="selectImage($event)" style="display: none">
                <dx-button *ngIf="urlImageSelected && noSavedPhoto" style="margin-left: 5px; margin-right: 18px;" type="default" (click)="savePhoto()" text="Guardar Foto"></dx-button>
            </div>
            <div class="btnOpts">
                <dx-button type="default" (click)="seeInfo()" text="Mis datos"></dx-button>
                <dx-button type="default" (click)="enableChangePassword=true" text="Cambiar contraseña"></dx-button>
            </div>
        </div>
    </div>
    <div *ngIf="!enableChangePassword && showInfo" class="content-info">
        <div class="animated fadeIn">
            <h3 style="text-align: center; padding: 5px;">Mis Datos</h3>
            <div style="text-align: end; margin-right: 20px;">
                <dx-button type="default" (click)="editInfo()" text="Editar"></dx-button>
            </div>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Nombres </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.name" placeholder="Nombre" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Apellido paterno </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.lastname" placeholder="Apellido paterno" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Apellido materno </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.surname" placeholder="Apellido materno" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">Fecha de nacimiento </div>
                    <dx-date-box [readOnly]="!enableEdit" type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" [(value)]="user.birthDate" width="30%" style="float: left;">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">DNI </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.documentNumber" placeholder="Número de documento" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                
                <div class="dx-field">
                    <div class="dx-field-label">Género</div>
                    <div class="dx-field-value">
                        <dx-select-box itemTemplate="item" [items]="listGender" displayExpr="description" valueExpr="genderTypeId" [searchEnabled]="true" placeholder="Género"
                            [(value)]="user.genderTypeId" width="50%" [readOnly]="!enableEdit">
                            <div *dxTemplate="let data of 'item'">
                                <div class='custom-item' [title]='data.name'>{{data.description}}</div>
                            </div>
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-select-box>
                    </div>
                </div>
    
                <!--<div class="dx-field">
                    <div class="dx-field-label">Género </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.genderTypeId" placeholder="Género" width="50%"></dx-text-box>
                    </div>
                </div>-->
                <div class="dx-field">
                    <div class="dx-field-label">Usuario  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.username" placeholder="Usuario" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Email  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.email" placeholder="Correo elecctrónico" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Celular  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.phone" placeholder="Celular" width="50%" [readOnly]="!enableEdit">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div *ngIf="enableEdit" class="dx-field btnsProfile" style="text-align: center;">
                    <dx-button style="margin-right: 5px;" (click)="save()" type="default" text="GUARDAR" width="20%"></dx-button>
                    <dx-button (click)="cancelEditForm()" type="default" text="CANCELAR" width="20%"></dx-button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="enableChangePassword" class="change-password">
        <div class="animated fadeIn">
            <div class="dx-field">
                <div class="dx-field-label">Nueva contraseña </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="password" placeholder="Contraseña" width="70%" mode="password">
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Confirmar contraseña </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="passwordVerificated" placeholder="Repita su contraseña" width="70%" mode="password">
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                </div>
            </div>
            <div class="dx-field" style="text-align: center;">
                <dx-button (click)="changePassword()" type="default" text="GUARDAR" width="20%"></dx-button>
            </div>
        </div>
    </div>
</div>