<div *ngIf="passwordChanged" class="animated fadeIn">
    <div class="container-form" >
        <h2>Su contraseña ha sido cambiado con éxito</h2>
        <hr/>
        <div class="dx-fieldset">
            <h4>Si desea puede ingresar al sistema</h4>
            <div class="dx-field sign-in">
                <dx-button type="default" text="Iniciar Sesión" (click)="redirectSingIn()" [useSubmitBehavior]="true" width="23%"></dx-button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!passwordChanged" class="animated fadeIn">
    <div id="=form">
        <form  novalidate (submit)="changePassword($event)">
            <div class="container-form" >
                <h2>Cambiar contraseña</h2>
                <hr/>
                <h4>Ingrese una nueva contraseña </h4>
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">Nueva contraseña </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.password" placeholder="Contraseña" width="90%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Verificar contraseña</div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="userPassword" placeholder="Repita su nueva contraseña" width="90%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field sign-in">
                        <dx-button type="default" text="Cambiar" [useSubmitBehavior]="true" width="23%"></dx-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>