<div class="animated fadeIn">
    <div class="slider-container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner box-slider">
              <div class="carousel-item active">
                <img src="../../../assets/image/playa1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/image/lima1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/image/museo1.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    
    <div class="dx-fieldset image-search">
        <form id="form" novalidate (submit)="sendNameProduct($event)">
            <div class="dx-field">
                <div class="dx-field-value">
                    <dx-text-box
                    [(value)]="nameProduct"
                    placeholder="Buscar..." width="98%">
                    </dx-text-box>
                </div>
            </div>
            <!--<div>
                <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120">
                </dx-date-box>
                <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120">
                </dx-date-box>
    
            </div>-->
            <div class="dx-field">
                <dx-button
                    stylingMode="contained"
                    text="Buscar"
                    type="default"
                    [useSubmitBehavior]="true"
                    width="20%">
                </dx-button>
            </div>
        </form>
    </div>
    
    <div class="products">
        <div class="title">
            <h2>Hoteles</h2>
        </div>
        <div class="container-product" *ngFor="let products of listHotels">
            <div class="dx-field product" *ngIf="products.type == 'Hotel'">
                <div class="caja">
                    <div class="imgInfo">
                        <img class="animated fadeIn" style="height: 215px; width: 98%;"
                          [src]="products.imageFile">
                    </div>
                    <div class="description">
                        <h3>{{products.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <h2>Restaurantes</h2>
        </div>
        <div class="container-product" *ngFor="let products of listRestaurants">
            <div class="dx-field product" *ngIf="products.type == 'Restaurante'">
                <div class="caja">
                    <div class="imgInfo">
                        <img class="animated fadeIn" style="height: 215px; width: 98%;"
                          [src]="products.imageFile">
                    </div>
                    <div class="description">
                        <h3>{{products.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
