::ng-deep .dx-theme-generic-typography {
    margin: 0;
    padding: 0;
}
.main-body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #FFFFFF;
    //background-image: url("../../../assets/image/paven.png");
}
 
.header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    //line-height: 5;
    //border: 3px solid #D9E2E8;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    //margin-left: 200px;
    //margin-right: 68px;
    margin-top: 85px;
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        //margin-left: 200px;
        //margin-right: 120px;
    }
    //background-image: url("../../../assets/image/paven.png");
}
.sideBar, .container-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    //justify-content: center;
    //justify-content: center;
    //align-items: center;
    //border: 1px solid #D9E2E8;
}
.sideBar {
    width: auto;
    //background-color: cornflowerblue;
}
.container-body {
    width: 100%;
    //margin-left: 15px;
    //margin-right: 65px;
    //background-color: coral;
}
.footer {
    line-height: 5;
    margin-top: auto;
    text-align: center;
    background-color: #212A30;
    color: white;
}


