.bodyHeader {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color: #0d595c;
    box-shadow: 0px 4px 2px #9EAEBF;
    //color: white;
    //border-bottom: 3px solid #243238;
    z-index: 0;
    height: 85px;
}
.navBar {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    dx-button {
        margin: 4px;
        color: #FFFFFF !important;
        padding: 0px !important;
        background-color: inherit !important;
        border: none;
    }
    .container-navBar {
        display: flex;
        flex-direction: row;
    }
}
.cool-link {
    color: #000;
    text-decoration: none;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}
.navBar .cool-link:hover::after {
    padding: 0px !important;
}

.dropdown {
    padding: 5px !important;
    top: 2px;
    .dropbtn {
        //font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        a {
            float: none;
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            background-color: #0d595c;
          }
    }
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover {
    background-color: #13595c !important;
    
}

@media (max-width: 812px) {
    .navBar {
        align-self: normal;
        margin-left: -18px;
        .container-navBar {
            z-index: 100 !important;
        }
    }
}

.logo {
    display: flex;
    flex-direction: row;
    //border: 3px solid #243238;
    width: 164px;
    z-index: 10;
    //margin-top: -76px;
    margin-left: 84px;
    height: 62px;
    background-color: #0d595c;
    //box-shadow: 0px 4px 2px #9EAEBF;
    cursor: pointer;
    a {
        text-decoration: none;
    }
}
.logo h2{
    margin: 0px;
    line-height: 3;
    color: #FFFFFF;
}
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    dx-button {
        background-color: inherit !important;
        box-shadow: 0px 0px 6px #9EAEBF inset;
    }
    .username {
        dx-button:hover {
            padding: 0px !important;
        }
    }
}
.user dx-button:hover {
    background-color: #0d595c !important;
    box-shadow: 0px 0px 6px #9EAEBF inset;

}

@media (max-width: 812px) {
    .user {
        display: block;
        margin-right: 0px;
        .register1 {
            line-height: 3;
        }
        .log-in {
            line-height: 0;
        }
        .register2 {
            line-height: 3;
        }
        .username {
            line-height: 3;
            dx-button {
                margin-top: 0px !important;
            }
        }
    }
    .navBar {
        margin-left: -86px;
        z-index: 100;
        line-height: 0;
        //height: 32px;
        .container-navBar {
            margin-top: 15px;
            flex-direction:  column ;
            background-color: #108083;
            dx-button {
                background-color: #108083 !important;
            }
        }        
    }
    .hidden-button {
        z-index: 1000;
        margin-top: 22px;
        margin-right: 25px;
        font-size: x-large;
    }
    .logo {
        margin-left: 6px;
        h2 {
            font-size: 24px;
        }
    }
    dx-button {
        bottom: 0 !important;
    }
    .dropdown:hover .dropdown-content {
        display: inline-block;
    }
}