<div class="bodyHeader">
    
    <div class="navBar">
        <ul style="list-style: none;">
            <li>
                <dx-button stylingMode="text" type="normal" text="INICIO" [routerLink]="['/sps']"></dx-button>
            </li>
            <li>
                <dx-button stylingMode="text" type="normal" text="HOTELES"></dx-button>
            </li>
            <li>
                <dx-button stylingMode="text" type="normal" text="RESTAURANTES" [routerLink]="['/gpbr']"></dx-button>
            </li>
            <li>
                <dx-button stylingMode="text" type="normal" text="SERVICIO"></dx-button>
            </li>
            <li>
                <dx-button stylingMode="text" type="normal" text="CONTACTO"></dx-button>
            </li>
            <li>
                <dx-button stylingMode="text" type="normal" text="NOSOTROS"></dx-button>
            </li>
        </ul>
    </div>
    <div class="user">
        <dx-button *ngIf="!this.authService.isAthenticated()"
            stylingMode="contained"
            text="INICIAR SESIÓN"
            type="default"
            [routerLink]="['/fl']"
             style="background-color: #108083; margin-right: 3px;">
        </dx-button>
        <dx-button *ngIf="!this.authService.isAthenticated()"
            stylingMode="contained"
            text="REGISTRARSE"
            type="default"
            [routerLink]="['/uf']"
            style="background-color: #108083;">
        </dx-button>
        <dx-button *ngIf="this.authService.isAthenticated()"
            stylingMode="contained"
            text={{this.usuario}}
            type="default"
            style="background-color: #108083; margin-right: 3px;">
        </dx-button>
        <dx-button *ngIf="this.authService.isAthenticated()"
            stylingMode="contained"
            text='CERRAR SESIÓN'
            type="default"
            (click)="logout()"
            style="background-color: #108083; ">
        </dx-button>
    </div>
</div>
<div class="logo">
    <!--<img src="../../../assets/image/logo.PNG" alt="">-->
    <h2>SafeTravel.pe</h2>
</div>
