<div class="bodyHeader">
    <div class="logo">
        <!--<img src="../../../assets/image/logo.PNG" alt="">-->
        <a [routerLink]="['/']">
            <h2>SafeTravel.pe</h2>
        </a>
    </div>

    <div class="navBar">
        <div *ngIf="showNavBar" class="container-navBar">
            <dx-button class="cool-link" [routerLink]="['/sps']">INICIO</dx-button>
            <dx-button class="cool-link" type="normal" text="HOTELES" [routerLink]="['/pr/gpbh']"></dx-button>
            <dx-button class="cool-link" type="normal" text="RESTAURANTES" [routerLink]="['/pr/gpbr']"></dx-button>
            <dx-button class="cool-link" type="normal" text="CONTACTO"></dx-button>
            <dx-button class="cool-link" type="normal" text="NOSOTROS" [routerLink]="['/inf/about']"></dx-button>
            <div *ngIf="this.authService.hasRole('Administrador - Organizacion')" class="dropdown">
                <dx-button class="dropbtn cool-link"
                 text="ADMINISTRADOR ORGANIZACIÓN" width="100%" type="normal"></dx-button>
                <div class="dropdown-content">
                    <a class="cool-link" [routerLink]="['/pr/gap']" stylingMode="text" type="normal">MIS EMPRESAS</a>
                </div>
            </div>
            <div *ngIf="this.authService.hasRole('Administrador')" class="dropdown">
                <dx-button class="dropbtn cool-link"
               text="ADMINISTRADOR" width="100%"></dx-button>
                <div class="dropdown-content">
                    <a class="cool-link" [routerLink]="['/org/gao']" type="normal">ORGANIZACIONES</a>
                    <a class="cool-link" [routerLink]="['/pr/gap']" type="normal">EMPRESAS DE ORGANIZACIONES</a>
                    <a class="cool-link" [routerLink]="['/services']" type="normal">SERVICIOS</a>
                    <a class="cool-link" [routerLink]="['/us/list-users']" type="normal">USUARIOS</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showNavBarButton" class="hidden-button">
        <i class="fas fa-bars" (click)="showButtonsHeader()" style="color: white;"></i>
    </div>
    <div class="user">
        <div class="register1">
            <dx-button class="cool-link" *ngIf="!this.authService.isAthenticated()"
                text="REGISTRARSE"
                [routerLink]="['/us/register-user']"
                style="background-color: #108083; margin-right: 3px; color: #ffff;">
            </dx-button>
        </div>

        <div class="log-in">
            <dx-button class="cool-link" *ngIf="!this.authService.isAthenticated()"
                            stylingMode="contained"
                            text="INICIAR SESIÓN"
                            type="default"
                            [routerLink]="['/log/fl']"
                             style="background-color: #108083; margin-right: 3px; color: #ffff">
            </dx-button>
        </div>

        <!-- <div class="register2">
            <dx-button class="cool-link" *ngIf="this.authService.isAthenticated() && this.authService.hasRole('Administrador')"
                text="REGISTRAR USUARIO"
                style="background-color: #108083; margin-right: 3px; color: #ffff"
                [routerLink]="['/us/register-user']">
            </dx-button>
        </div> -->

        <div class="username" *ngIf="this.authService.user.username">
            <div class="image">
                <img (click)="goMyProfile()" src="../../../../assets/image/profile-boy.jpg" *ngIf="!userBean.photo && userBean.genderTypeId !='2'" />
                <img (click)="goMyProfile()" src="../../../../assets/image/profile-girl.png" *ngIf="!userBean.photo && userBean.genderTypeId !='1'" />
                <img (click)="goMyProfile()" [src]="imagenData" *ngIf="imagenEstado" />
            </div>
            <div class="dropdown">
                <dx-button class="dropbtn cool-link" *ngIf="this.authService.isAthenticated()"
                    text={{this.username}}
                    width="100%"
                    style="background-color: #108083; margin-right: 3px;">
                </dx-button>
                <div class="dropdown-content">
                    <a class="cool-link" *ngIf="this.authService.isAthenticated()"
                        [routerLink]="['/us/profile']" type="normal" style="background-color: #108083; cursor: pointer; font-size: smaller;">MI PERFIL
                    </a>
                    <a class="cool-link" *ngIf="this.authService.isAthenticated()" 
                    (click)="logout()" type="normal" style="background-color: #108083; cursor: pointer; font-size: smaller;">CERRAR SESIÓN
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>

