::ng-deep body > app-root > app-main > div > div.main-container > div > app-about {
    width: 100% !important;
}

.body-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -42px;
    background-color: #F2F2F2;
    .image-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 54vh;
        border: 1px solid #0d595c;
        box-shadow: 0px 1px 3px #0d595c;
        img {
            width: 100%;
        }
    }
    .summary {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 22vh;
        border: 1px solid #0d595c;
        box-shadow: 0px 1px 3px #0d595c;
        font-size: 18px;
        padding: 30px;
    }
    .container-info-images {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 18px;
        .info2 {
            display: flex;
            flex-direction: column;
            width: 50%;
            border-left: 1px solid #0d595c;
            padding: 25px;
            text-align: -webkit-center;
            h2{
                text-align: center;
            }
            .hotel{
                display: flex;
                flex-direction: row;
                border: 1px solid #0d595c;
                box-shadow: 0px 1px 3px #0d595c;
                width: 70%;
                height: 70%;
                img {
                    width: 100%;
                }
            }

        }
        .information {
            display: flex;
            flex-direction: column;
            width: 50%;
            //border: 1px solid #0d595c;
            padding: 30px;
            h2{
                text-align: center;
            }
        }
    }
}
@media (max-width: 812px) {
    .container-info-images {
        flex-direction: column !important;
    }
    .image-container {
        height: 200px !important;
    }
    .information{
        flex-direction: row !important;
        width: 100% !important;
        .container-info {
            display: block;
        }
    }
    .info2 {
        flex-direction: row !important;
        width: 100% !important;
        .container-info2 {
            display: block;
        }
        .hotel {
            height: 200px !important;
            width: 100% !important;
        }
    }
}