<div class="body-container animated fadeIn">
    <div class="image-container">
        <img src="../../../../assets/image/lima-panoramic.jpg" alt="">
    </div>
    <div class="container-info-images">
        <div class="information">
            <div class="container-info">
                <div>
                    <h2>SafeTravel</h2>
                </div>
                <hr/>
                <div>
                    <p>
                        Si bien muchos sectores se han visto afectados por las medidas de sanidad adoptadas debido a la pandemia del convid-19, ya se están tomando cartas en el asunto para reactivarlos paulatinamente. Ese es el caso del turismo interno, que poco a poco volverá a sus actividades hasta llegar a la normalidad.
                    </p>
                    <p>
                        El turismo es el tercer generador de divisas en el Perú, y hoy está detenido debido a la situación del covd-19. Este sector brinda empleos directos e indirectos, y hay economías locales que dependen netamente de esta actividad. Frente a esta situación, muchos expertos en el rubro sugieren tomar medidas que ayudarán a recuperar el protagonismo de la industria.
                    </p>
                    <p>
                        Los entendidos del sector identifican como crucial promover una fuerte campaña para promover el turismo interno cuando la situación sanitaria mejore. Incentivar a visitar los destinos del Perú será clave para que la economía vuelva a recuperar su flujo.
                    </p>
                    <p>
                        Para que los viajeros vuelvan a recuperar la confianza en trasladarse por el país, las empresas del sector turismo tendrán que ser transparentes al brindar la información, ya que de ese modo generarán seguridad. En muchos casos se dará información a tiempo real, lo cual será un apoyo para los turistas. Asimismo, la colaboración con las autoridades de salud será un arma de mucho poder para que la seguridad sea lo primero que prime en la industria.
                    </p>
                </div>
            </div>
            <hr/>
        </div>
        <div class="info2">
            <div class="container-info2">
                <div>
                    <h2>Servicio de calidad</h2>
                </div>
                <div class="hotel">
                    <img src="../../../../assets/image/bioseguridad.jpg" alt="">
                </div>
                <hr/>
                <div>
                    Somos un equipo de emprendedores, impulsados ​​por una pasión compartida para estar a la vanguardia. Somos un equipo diverso, curioso y versátil de 90 nacionalidades diferentes, que se unen para trabajar hacia un objetivo común.
                </div>
            </div>
        </div>
    </div>
    <div class="summary">
        <h3>
            Para nosotros, lo más importante son nuestros huéspedes, por ello hemos implementado una serie de medidas de seguridad y salubridad para evitar cualquier riesgo
        </h3>
    </div>
</div>