<div class="body animated fadeIn">
    <h3 *ngIf="this.authService.hasRole('Administrador')">Organizaciones</h3>
    <dx-data-grid style="padding: 0;" *ngIf="organizationList.length>0" id="gridContainer" 
        [dataSource]="organizationList" [allowColumnResizing]="true" [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [showBorders]="true">
    
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar.."></dxo-search-panel>
    
        <!--<dxi-column dataField="image" caption="Imagen"> </dxi-column>-->
        <dxi-column caption="N°"  [width]="50" cellTemplate="idxRowTemplate" [formItem]="{visible:false}"> </dxi-column>
        <dxi-column dataField="name" caption="Organización"> </dxi-column>
        <dxi-column dataField="ruc" caption="RUC"> </dxi-column>
        <dxi-column dataField="direction" caption="Dirección"> </dxi-column>
        <dxi-column dataField="phone" caption="Teléfono"> </dxi-column>
        <dxi-column dataField="responsablePaymentName" caption="Responsable de pago"> </dxi-column>
        <dxi-column dataField="responsablePaymentPhone" caption="Celular del responsable de pago"> </dxi-column>
        <dxi-column dataField="responsablePaymentEmail" caption="Correo del responsable de pago"> </dxi-column>
        <dxi-column dataField="createDate" caption="Fecha de creación" dataType="date" formatDate="dd/MM/yyyy"> </dxi-column>
        <dxi-column caption="Acciones" cellTemplate="actionCellTempalte">
            <div *dxTemplate="let cell of 'actionCellTempalte'">
                <dx-button icon="fas fa-edit" (onClick)="selectOrganizationEdit(cell)"></dx-button>
                <dx-button icon="far fa-trash-alt" (onClick)="deleteOrganization(cell)"></dx-button>
            </div>
        </dxi-column>
        <div *dxTemplate="let cell of 'idxRowTemplate'">
            <div>
                {{cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1}}
            </div>
        </div>
    </dx-data-grid>
    <div class="button-add-organization">
        <dx-button
        icon="add"
        text="Agregar Organization"
        (onClick)="showFormOrganization()"
        ></dx-button>
    </div>
</div>
<!--<dx-speed-dial-action
        style="transform: translate(1754px, 781px)"
        icon="add"
        label="Agregar Producto"
        [index]="1"
        (onClick)="showFormProduct()"></dx-speed-dial-action>-->

<dx-popup style="overflow: scroll !important;" title="Editar Organizacion" [width]="640" [height]="500" *ngIf="showPopupOrganizationFormEdit" [(visible)]="showPopupOrganizationFormEdit" >
    <app-form-organization [organizationId]="selectedOrganization.id" (closePopup)=onClosePopupFormEdit($event)></app-form-organization>
</dx-popup>
<dx-popup title="Organizacion" [width]="640" [height]="500" *ngIf="showPopupOrganizationForm" [(visible)]="showPopupOrganizationForm">
    <app-form-organization (closePopup)=onClosePopupForm($event)></app-form-organization>
</dx-popup>