
::ng-deep body > app-root > app-main > div > div.main-container > div > app-organization-list {
    width: 100% !important;
}
.body {
    display: flex;
    flex-direction: column;
    padding: 2%;
    .table {
        display: flex;
        flex-direction: row;
    }
    .button-add-organization {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}