<!--<dx-data-grid id="dataGrid" class="dx-card wide-card" [dataSource]="organizationList" [showBorders]="true"  [allowColumnResizing]="true" columnResizingMode="widget"   [showColumnLines]="true" [rowAlternationEnabled]="false" [columnAutoWidth]="true" [columnHidingEnabled]="true" >

    <dxi-column dataField="name" caption="Organización"> </dxi-column>
    <dxi-column dataField="ruc" caption="RUC"> </dxi-column>
    <dxi-column dataField="direction" caption="Dirección"> </dxi-column>
    <dxi-column dataField="phone" caption="Teléfono"> </dxi-column>
    <dxi-column dataField="responsablePaymentName" caption="Responsable de pago"> </dxi-column>
    <dxi-column dataField="responsablePaymentPhone" caption="Celular del responsable de pago"> </dxi-column>
    <dxi-column dataField="responsablePaymentEmail" caption="Correo del responsable de pago"> </dxi-column>
    <dxi-column dataField="createDate" caption="Fecha de creación"> </dxi-column>

</dx-data-grid>-->

<dx-data-grid id="gridContainer"
    [dataSource]="organizationList"
    [columnAutoWidth]="true"
    [showBorders]="true"
    rowTemplate="rowTemplateName">

    <dxi-column dataField="name" caption="Organización"> </dxi-column>
    <dxi-column dataField="ruc" caption="RUC"> </dxi-column>
    <dxi-column dataField="direction" caption="Dirección"> </dxi-column>
    <dxi-column dataField="phone" caption="Teléfono"> </dxi-column>
    <dxi-column dataField="responsablePaymentName" caption="Responsable de pago"> </dxi-column>
    <dxi-column dataField="responsablePaymentPhone" caption="Celular del responsable de pago"> </dxi-column>
    <dxi-column dataField="responsablePaymentEmail" caption="Correo del responsable de pago"> </dxi-column>
    <dxi-column dataField="createDate" caption="Fecha de creación" dataType="date"> </dxi-column>

    <tbody class="employee dx-row" [ngClass]="{'dx-row-alt': organizationList.rowIndex % 2}" *dxTemplate="let organizationList of 'rowTemplateName'" >
        <tr class="main-row">
            <td rowspan="2"><img [width]="300" [src]="url+'/gf/'+1"/></td>
            <td>{{organizationList.data.name}}</td>
            <td>{{organizationList.data.ruc}}</td>
            <td>{{organizationList.data.direction}}</td>
            <td>{{organizationList.data.phone}}</td>
            <td>{{organizationList.data.responsablePaymentName}}</td>
            <td>{{organizationList.data.responsablePaymentPhone}}</td>
            <td>{{organizationList.data.responsablePaymentEmail}}</td>
            <td>{{organizationList.data.createDate | date: "M/d/yyyy"}}</td>
        </tr>
        <!--<tr class="notes-row">
            <td colspan="6"><div>lorem</div></td>
        </tr>-->
    </tbody>
</dx-data-grid>