::ng-deep body > app-root > app-main > div > div.main-container > div > app-product-detail {
    width: 100% !important;
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}
.body {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 15px;
    .sideBar {
        display: flex;
        flex-direction: row;
        margin-left: 25px;
    }
    .body-products {
        display: flex;
        flex-direction: column;
    }
    .container-product {
        margin-bottom: 8px;
        width: 80%;
    }
    .products {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product {
        display: flex;
        flex-direction: row;
        .image {
            margin: auto
        }
        img {
            display: flex;
            flex-direction: row;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 6px #0d595c;
            //margin: 4px;
        }
    }
    
    .caja {
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        background-color: white;
        box-shadow: 0px 2px 6px #0d595c;
        padding: 12px;
        width: 100%;
        .description {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .logo {
            margin: auto;
            border: 1px solid #ccc;
            box-shadow: 0px 5px 6px #0d595c;
            height: 150px; width: 200px;
            line-height: 2;
            .address {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
            .button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
        }
    }
}
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dates {
    margin-right: 5px;
}
.search-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .sideBar {
        display: flex;
        flex-direction: row;
        //justify-content: center;
        //align-items: center;
        //border: 1px solid #D9E2E8;
    }
    .formulario {
        display: flex;
        flex-direction: row;
    }
}
::ng-deep .pagination .ngx-pagination .current  {
    background: #108083;
}
@media (max-width: 812px) {
    .sideBar {
        display: none !important;
    }
}

@media (max-width: 719px) {
    .sideBar {
        display: none !important;
    }
    .body {
        justify-content: center;
    }
    .search-container {
        display: block;
        text-align: -webkit-center;
        .dx-field {
            margin-right: 0px !important;
        }
        dx-date-box {
            width: 63% !important;
        }
        dx-text-box {
            width: 250px !important;
        }
    }
    .search-button {
        dx-button {
            width: 45% !important;
        }
    }
    .container-product {
        width: 100% !important;
        .caja {
            display: block !important;
            .image {
                text-align: -webkit-center;
                img {
                    width: 204px !important;
                    height: 138px !important;
                }
            }
            .description {
                width: 100% !important;
                h3 {
                    text-align: center;
                }
                p {
                    font-size: smaller;
                }
            }
            .logo {
                height: 105px;
                width: 200px;
                line-height: 2;
                dx-button {
                    font-size: xx-small !important;
                }
                .address {
                    font-size: smaller;
                }
            }
        }
    }
    
}

@media (min-width: 1010px) {
    
}