<div class="dx-fieldset animated fadeIn">
    <div class="search">
        <div class="formulario">
            <form novalidate (submit)="search($event)">
                <div class="search-container">
                    <div class="dx-field" style="margin-right: 15vh;">
                        <dx-text-box [(value)]="product.name" placeholder="Buscar..." [width]="500">
                        </dx-text-box>
                    </div>
                    <div class="dx-field dates">
                        <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.startDateRequest">
                            <!--<dx-validator>
                                <dxi-validation-rule type="required" message="Campo obligatorio"></dxi-validation-rule>
                              </dx-validator>-->
                        </dx-date-box>
                        <label for="">Entrada</label>
                    </div>
                    <div class="dx-field dates">
                        <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.endDateRequest">
                            <!--<dx-validator>
                                <dxi-validation-rule type="required" message="Campo obligatorio"></dxi-validation-rule>
                              </dx-validator>-->
                        </dx-date-box>
                        <label for="">Salida</label>
                    </div>
                </div>
                <div class="dx-field search-button">
                    <dx-button
                        stylingMode="contained"
                        text="Buscar"
                        type="default"
                        width="20%"
                        [useSubmitBehavior]="true">
                    </dx-button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="body">
    <div class="sideBar">
        <div class="bodySideBar animated fadeIn">
            <h4>BIOSEGURIDAD</h4>
            <div class="dx-field">
                    <div class="dx-field-value">
                            <div class="dx-field-label">
                                    <dx-check-box [value]="false"></dx-check-box>
                                    <p>Establecimientos que tomaron<br> medidas de seguridad</p>
                            </div>
                    </div>
            </div>
            <h4>Servicios</h4>
            <div class="email-card">
                    <hr>
                            <!-- <dx-text-box [height]="50" [(value)]="this.dataObservation"></dx-text-box> -->
                    <dx-list [dataSource]="listServices" [height]="560" [showSelectionControls]="true" selectionMode="multiple" valueExpr="code" [(selectedItems)]="listServiceSelected">
                            <div *dxTemplate="let data of 'item'" style="padding-bottom: 1px;padding-top: 1px;border-bottom:1px solid #ddd">
                            <p> {{data.description}} </p>
                            </div>
                    </dx-list>
            </div>
        </div>
    </div>
    <div class="body-products">
        <div *ngIf="productList.length>0" class="products animated fadeIn">
            <div class="container-product" *ngFor="let product of productList | paginate: { itemsPerPage: 5, currentPage: p }">
                <div class="dx-field product">
                    <div class="caja">
                        <div class="image">
                            <img class="imgInfo animated fadeIn" style="height: 240px; width: 242px;"
                            [src]="product.imageFile">
                        </div>
                        <div class="description">
                            <h3>{{product.name}}</h3>
                            <p>Entrada: {{product.startDate}} Salida: {{product.endDate}}</p>
                            <!--<p>{{products.description}}</p>-->
                            <p>{{product.description}}</p>
                            <p>Varlor 5 STARS</p>
                            <p>S/.{{product.price}}</p>
                        </div>
                        <div class="logo">
                            <div class="address">
                                <p>{{product.ubication}}</p>
                            </div>
                            <div class="dx-field button">
                                <dx-button 
                                stylingMode="contained"
                                text="Ver oferta"
                                type="default"
                                width="70%"
                                (click)="getProductId(product.id)"
                                [useSubmitBehavior]="true" icon="far fa-plus-square"></dx-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <pagination-controls class="pagination" previousLabel="Atras"
            nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>