<div class="dx-fieldset" style="width: 100%;">
    <form novalidate>
        <div class="dx-field">
            <div class="dx-field-value">
                <dx-text-box
                    placeholder="Buscar..." width="100%">
                </dx-text-box>
            </div>
        </div>
        <!--<div>
            <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120">
            </dx-date-box>
            <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120">
            </dx-date-box>

        </div>-->
        <div class="dx-field">
            <dx-button
                stylingMode="contained"
                text="Buscar"
                type="default"
                width="20%">
            </dx-button>
        </div>
    </form>
</div>