::ng-deep body > app-root > app-main > div > div.main-container > div.container > app-product-detail {
    width: 100% !important;
    margin-left: 30px;
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}
.container-product {
    margin-bottom: 8px;
    width: 1432px;
}

.products {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .title {
        width: 100%;
    }
}

.product {
    display: flex;
    flex-direction: row;
    .image {
        margin: auto
    }
    img {
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 6px #0d595c;
        //margin: 4px;
    }
}

.caja {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 2px 6px #0d595c;
    padding: 12px;
    width: 100%;
    .description {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo {
        margin: auto;
        border: 1px solid #ccc;
        box-shadow: 0px 5px 6px #0d595c;
        height: 150px; width: 200px;
        line-height: 5;
        .address {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
        .button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
    }
}
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dates {
    margin-right: 5px;
}
.search-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}