<div class="dx-fieldset" style="width: 100%;">
    <form novalidate (submit)="search($event)">
        <div class="search-container">
            <div class="dx-field" style="margin-right: 15vh;">
                <dx-text-box [(value)]="product.name" placeholder="Buscar..." [width]="500">
                </dx-text-box>
            </div>
            <div class="dx-field dates">
                <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.startDateRequest">
                </dx-date-box>
                <label for="">Entrada</label>
            </div>
            <div class="dx-field dates">
                <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.endDateRequest">
                </dx-date-box>
                <label for="">Salida</label>
            </div>
        </div>
        <div class="dx-field search-button">
            <dx-button
                stylingMode="contained"
                text="Buscar"
                type="default"
                width="20%"
                [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </form>
</div>

<div *ngIf="productList.length>0" class="products">
    <div class="title">
    </div>
    <div class="container-product" *ngFor="let products of productList">
        <div class="dx-field product">
            <div class="caja">
                <div class="image">
                    <img class="imgInfo" style="height: 250px; width: 242px;"
                    [src]="url+'/gf/'+products.id">
                </div>
                <div class="description">
                    <h3>{{products.name}}</h3>
                    <p>Entrada: {{products.startDate}} Salida: {{products.endDate}}</p>
                    <!--<p>{{products.description}}</p>-->
                    <p>{{products.description}}</p>
                    <p>Varlor 5 STARS</p>
                    <p>S/.{{products.price}}</p>
                </div>
                <div class="logo">
                    <p>{{products.address}}</p>
                    <!--<div class="dx-field button">
                        <dx-button 
                        stylingMode="contained"
                        text="Ver oferta"
                        type="default"
                        width="20%"
                        [useSubmitBehavior]="true" icon="far fa-plus-square"></dx-button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>