<div id="form">
    <form novalidate (submit)="saveOrganization($event)">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Nombre de Organizacion: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.name" placeholder="Nombre de organizacion" width="50%"></dx-text-box>
                    </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">RUC: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.ruc" placeholder="Ruc" width="50%"></dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Dirección: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.direction" placeholder="Dirección" width="50%"></dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Teléfono: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.phone" placeholder="Teléfono" width="50%"></dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Responsable de pago: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.responsablePaymentName" placeholder="Responsable de pago: " width="50%"></dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Celular del responsable de pago:  </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.responsablePaymentPhone" placeholder="Celular responsable de pago" width="50%"></dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Correo del responsable de pago:  </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="organizationBean.responsablePaymentEmail" placeholder="Correo responsable de pago" width="50%"></dx-text-box>
                </div>
            </div>
            <div class="dx-field">
                <dx-button type="default" text="GUARDAR" [useSubmitBehavior]="true" width="20%"></dx-button>
            </div>
        </div>
    </form>
</div>