<div class="formulario">
    <div id="form">
        <form novalidate (submit)="saveUser($event)">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Nombre: </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.name" placeholder="Nombre" width="50%"></dx-text-box>
                        </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Apellido paterno: </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.lastname" placeholder="Apellido paterno" width="50%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Apellido materno: </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.surname" placeholder="Apellido materno" width="50%"></dx-text-box>
                    </div>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">Fecha de nacimiento: </div>
                    <div class="dx-field-value">
                        <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" [(value)]="client.birthDate">
                        </dx-date-box>
                    </div>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">DNI: </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.documentNumber" placeholder="Número de documento" width="50%"></dx-text-box>
                    </div>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">Posición: </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.position" placeholder="Posición" width="50%"></dx-text-box>
                    </div>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">Género: </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.genderTypeId" placeholder="Género" width="50%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Usuario:  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.username" placeholder="Usuario" width="50%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Password:  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.password" placeholder="Password" width="50%" mode="password"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Email:  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.email" placeholder="Correo elecctrónico" width="50%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Celular:  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="client.phone" placeholder="Celular" width="50%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <dx-button type="default" text="GUARDAR" [useSubmitBehavior]="true" width="20%"></dx-button>
                </div>
            </div>
        </form>
    </div>
</div>