::ng-deep body > app-root > app-main > div > div.main-container > div.container > app-form-user {
    width: 100% !important;
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}