<div id="form">
    <form novalidate (submit)="saveUser($event)">
        <dx-scroll-view [height]="500" direction="vertical">
            <dx-responsive-box singleColumnScreen="xs sm">
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
    
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>

                <dxi-item>
                    <dxi-location [row]="0" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="0" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Nombres </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.name" placeholder="Nombre" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                    </div>
                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="1" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="1" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Apellido paterno </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.lastname" placeholder="Apellido paterno" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="2" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="2" [col]="0" screen="xs sm"[colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Apellido materno </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.surname" placeholder="Apellido materno" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="3" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="3" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Fecha de nacimiento </div>
                        <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" [(value)]="user.birthDate" width="48%" style="float: left;">
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-date-box>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="4" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="4" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">DNI </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.documentNumber" placeholder="Número de documento" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>

                <dxi-item *ngIf="userId">
                    <dxi-location [row]="5" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="5" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Posición </div>
                            <div class="dx-field-value">
                                <dx-text-box [readOnly]="disableEdit" [(value)]="profile.longDescription" placeholder="Tipo de usuario" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>

                <dxi-item >
                    <dxi-location [row]="5" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="5" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div *ngIf="this.authService.hasRole('Administrador') && !userId" class="dx-field">
                        <div class="dx-field-label">Posicion *</div>
                        <div class="dx-field-value">
                            <dx-select-box itemTemplate="item" [items]="typePosition" displayExpr="name" valueExpr="type" [searchEnabled]="true" placeholder="Tipo de usuario"
                                [(value)]="profile.type" width="80%">
                                <div *dxTemplate="let data of 'item'">
                                    <div class='custom-item' [title]='data.name'>{{data.name}}</div>
                                </div>
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </dxi-item>

                <dxi-item >
                    <dxi-location [row]="6" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="6" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div >
                        <div *ngIf="this.authService.hasRole('Administrador') && profile.type == '2'" class="dx-field">
                            <div class="dx-field-label">Organización *</div>
                            <div class="dx-field-value">
                                <dx-select-box itemTemplate="item" [items]="organizationList" displayExpr="name" valueExpr="id" [searchEnabled]="true" placeholder="Organización"
                                    [(value)]="user.organizationId" width="80%">
                                    <div *dxTemplate="let data of 'item'">
                                        <div class='custom-item' [title]='data.name'>{{data.name}}</div>
                                    </div>
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-select-box>
                            </div>
                        </div>
                    </div>
                </dxi-item>

                <dxi-item>
                    <dxi-location [row]="7" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="7" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Género</div>
                        <div class="dx-field-value">
                            <dx-select-box itemTemplate="item" [items]="listGender" displayExpr="description" valueExpr="genderTypeId" [searchEnabled]="true" placeholder="Género"
                                [(value)]="user.genderTypeId" width="80%">
                                <div *dxTemplate="let data of 'item'">
                                    <div class='custom-item' [title]='data.name'>{{data.description}}</div>
                                </div>
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </dxi-item>

                <dxi-item>
                    <dxi-location [row]="8" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="8" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Usuario  </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.username" placeholder="Usuario" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="9" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="9" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Email  </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.email" placeholder="Correo elecctrónico" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="10" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="10" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Celular  </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="user.phone" placeholder="Celular" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="11" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="11" [col]="0" screen="xs sm" [colspan]="2"></dxi-location>
                    <div class="dx-field" style="text-align: center;">
                        <dx-button type="default" text="GUARDAR" [useSubmitBehavior]="true" width="30%"></dx-button>
                    </div>
                </dxi-item>
            </dx-responsive-box>
        </dx-scroll-view>
    </form>
</div>