<div class="dx-field">
        <h2>Categorias</h2>
</div>
<div class="bodySideBar">
    <dx-button
            stylingMode="contained"
            text="Producto"
            type="default"
            width="100%" [routerLink]="['/sp']">
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Productos"
            type="default"
            width="100%" [routerLink]="['/gap']">
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Principal"
            type="default"
            width="100%" [routerLink]="['/sps']">
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Organizacion"
            type="default"
            width="100%" [routerLink]="['/so']">
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Organizaciones"
            type="default"
            width="100%" [routerLink]="['/gao']">
    </dx-button>
</div>