<div *ngIf="this.authService.isAthenticated()" class="dx-field">
        <h2>Categorias</h2>
</div>
<div *ngIf="this.authService.isAthenticated()" class="bodySideBar">
        <dx-button
                *ngIf="this.authService.hasRole('Administrador') || this.authService.hasRole('Administrador - Empresa')"
                stylingMode="contained"
                text="Buscar Producto"
                type="default"
                width="100%" [routerLink]="['/gpd']">
        </dx-button>
        <dx-button
        *ngIf="this.authService.hasRole('Administrador') || this.authService.hasRole('Administrador - Empresa')"
                stylingMode="contained"
                text="Productos"
                type="default"
                width="100%" [routerLink]="['/gap']">
        </dx-button>
        <dx-button
        *ngIf="this.authService.hasRole('Administrador')"
                stylingMode="contained"
                text="Organizacion"
                type="default"
                width="100%" [routerLink]="['/so']">
        </dx-button>
        <dx-button
        *ngIf="this.authService.hasRole('Administrador')"
                stylingMode="contained"
                text="Organizaciones"
                type="default"
                width="100%" [routerLink]="['/gao']">
        </dx-button>
    <dx-button
            stylingMode="contained"
            text="Principal"
            type="default"
            width="100%" [routerLink]="['/sps']">
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Hoteles"
            type="default"
            width="100%" >
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Restaurantes"
            type="default"
            width="100%" >
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Museos"
            type="default"
            width="100%" >
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Aventura"
            type="default"
            width="100%" >
    </dx-button>
    <dx-button
            stylingMode="contained"
            text="Extremo"
            type="default"
            width="100%" >
    </dx-button>
</div>