<div class="formulario">
    <div id="=form">
        <form novalidate (submit)="login($event)">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Usuario: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="user.username" placeholder="Usuario" width="100%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Contraseña: </div>
                    <div class="dx-field-value">
                        <dx-text-box [(value)]="user.password" placeholder="Contraseña" mode="password" width="100%"></dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <dx-button type="default" text="INGRESAR" [useSubmitBehavior]="true" width="60%"></dx-button>
                </div>
            </div>
        </form>
    </div>
</div>