<div class="animated fadeIn formulario">
    <div class="image">
        <div class="container-image">
            <img src="../../../../assets/image/form-user-image.jpg" alt="">
        </div>
    </div>
    <div class="container-form">
        <form novalidate (submit)="saveUser($event)">
            <h3 style="text-align: center; padding: 5px;">REGÍSTRATE</h3>
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Tipo de usuario</div>
                    <div class="dx-field-value">
                        <dx-select-box (onValueChanged)="selecProfileUser($event)" itemTemplate="item" [items]="typeUser" displayExpr="name" valueExpr="type" [searchEnabled]="true" placeholder="Tipo de usuario"
                            [(value)]="profile.type" width="60%">
                            <div *dxTemplate="let data of 'item'">
                                <div class='custom-item' [title]='data.name'>{{data.name}}</div>
                            </div>
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-select-box>
                    </div>
                </div>
                <div *ngIf="profile.type == '2'">
                    <h5>Datos del administrador</h5>
                    <hr/>
                </div>
                <div *ngIf="profile.type != '2'">
                    <h5>Datos Personales</h5>
                    <hr/>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Nombres </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.name" placeholder="Nombre" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Apellido paterno </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.lastname" placeholder="Apellido paterno" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Apellido materno </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.surname" placeholder="Apellido materno" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">Fecha de nacimiento </div>
                    <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" [(value)]="user.birthDate" width="30%" style="float: left;">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-date-box>
                </div>
    
                <div class="dx-field">
                    <div class="dx-field-label">DNI </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.documentNumber" placeholder="Número de documento" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>


                <!-- <div class="dx-field" *ngIf="this.authService.hasRole('Administrador')">
                    <div class="dx-field-label">Posición </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.position" placeholder="Posición" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div> -->

                <div class="dx-field">
                    <div class="dx-field-label">Género</div>
                    <div class="dx-field-value">
                        <div class="dx-field-label">Masculino
                            <dx-check-box [disabled]="genderFamele" [(value)]="genderMale" style="float: none;"></dx-check-box>
                        </div>
                        <div class="dx-field-label">Femenino
                            <dx-check-box [disabled]="genderMale" [(value)]="genderFamele" style="float: none;"></dx-check-box>
                        </div>
                    </div>
                </div>
    
                <!--<div class="dx-field">
                    <div class="dx-field-label">Género </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.genderTypeId" placeholder="Género" width="50%"></dx-text-box>
                    </div>
                </div>-->
                <div class="dx-field">
                    <div class="dx-field-label">Usuario  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.username" placeholder="Usuario" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Password  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.password" placeholder="Password" width="50%" mode="password">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Email  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.email" placeholder="Correo elecctrónico" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Celular  </div>
                        <div class="dx-field-value">
                            <dx-text-box [(value)]="user.phone" placeholder="Celular" width="50%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </div>
                </div>

                <div *ngIf="profile.type == '2'">
                    <h5>Datos de tu Organización</h5>
                    <hr/>
                    <div class="dx-field">
                        <div class="dx-field-label">Razón social </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.name" placeholder="Razón social" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">RUC </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.ruc" placeholder="Ruc" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Dirección </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.direction" placeholder="Dirección" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Teléfono </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.phone" placeholder="Teléfono" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Responsable de pago </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.responsablePaymentName" placeholder="Responsable de pago: " width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Celular del responsable de pago  </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.responsablePaymentPhone" placeholder="Celular responsable de pago" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Correo del responsable de pago  </div>
                            <div class="dx-field-value">
                                <dx-text-box [(value)]="organizationBean.responsablePaymentEmail" placeholder="Correo responsable de pago" width="80%">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                        </div>
                    </div>
                </div>

                <div class="dx-field" style="text-align: center;">
                    <dx-button type="default" text="GUARDAR" [useSubmitBehavior]="true" width="20%"></dx-button>
                </div>
            </div>
        </form>
    </div>
</div>