::ng-deep app-recover-password {
    width: 50%;
    margin: 0 auto;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    //border: 1px solid #0d595c;
    width: 100%;
    padding: 45px;
    .sign-in, h2 {
        text-align: center;
    }
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}