::ng-deep app-recover-password {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-form {
    display: flex;
    flex-direction: column;
    //border: 1px solid #0d595c;
    width: 100%;
    padding: 45px;
    .sign-in, h2 {
        text-align: center;
    }
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}
@media (max-width: 812px) {
    dx-button {
        width: 30% !important;
    }
}