<div class="body animated fadeIn">
    <div class="row1">
        <div class="container-photos">
            <div class="image" *ngIf="productBean.id">
                <img class="imgInfo animated fadeIn" style="height: 240px; width: 242px;"
                [src]="productBean.imageFile">
            </div>
        </div>
        <div class="description">
            <h4>Dirección: {{productBean.ubication}}</h4>
            <hr/>
            <h4>Precio: S/.{{productBean.price}}</h4>
            <hr/>
            <h4>Fecha de entrada: {{productBean.startDate}}</h4>
            <hr/>
            <h4>Fecha de salida: {{productBean.endDate}}</h4>
        </div>
    </div>
    
    <div class="row2">
        <div class="descripcion-product">
            <h4>INFORMACIÓN</h4>
            {{productBean.longDescription}}
        </div>
        <div class="info-covid">
            <div class="title-info-covid" style="text-align: center;">
                <h3>Información de Bioseguridad</h3>
            </div>
            <div>
                <h4>Qué puedes esperar durante tu estadía</h4>
                <ul>
                    <li>
                        <span>Se requiere el uso de máscaras, barbijos o tapabocas para los huéspedes en zonas públicas</span>
                    </li>
                    <hr/>
                    <li>
                        <span>Se requieren máscaras, barbijos o tapabocas para el personal en zonas públicas</span>
                    </li>
                    <hr/>
                    <li>
                        <span>Alcohol en gel disponible para los huéspedes y el personal</span>
                    </li>
                    <hr/>
                    <li>
                        <span>Pisos marcados para el distanciamiento social</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row3">
        <div class="container-opinion">
            <div class="tittle-opinion" style="text-align: center;">
                <h3>OPINIONES</h3>
            </div>
            <div class="dx-field commentary">
                <dx-text-area placeholder="Escriba un comentario" [height]="100" [width]="630" [(value)]="commentary.description">
                </dx-text-area>
                <dx-button style="height: 38%; margin: auto;"
                    stylingMode="contained"
                    text="Publicar"
                    type="default"
                    width="25%"
                    (onClick)="saveCommentary()"
                    [useSubmitBehavior]="true">
                </dx-button>
            </div>
            <h4>Comentarios</h4>
            <div class="dx-field list-commentaries" *ngFor="let comment of listCommentaries">
                <div class="icon" style="line-height: 2; margin-right: 15px;">
                    <div>
                        <label requeried style="width: 10vh;">{{comment.username}}</label>
                    </div>
                    <div>
                        <label type="date">{{comment.createDate | date: 'dd-MM-yyyy hh:mm a'}}</label>
                    </div>
                </div>
                <div class="comment">
                    <dx-text-area [readOnly]="true" [height]="100" [width]="630" [(value)]="comment.description"></dx-text-area>
                </div>
            </div>
        </div>
    </div>
    
</div>