::ng-deep body > app-root > app-main > div > div.main-container > div > app-info-commentary-product {
    width: 100%;
    
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}
.body {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 25px;
}
.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    margin: 15px !important;
}
.row2 {
    height: 420px;
}
.container-photos, .details, .descripcion-product, 
.info-covid, .container-opinion {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 3px #0d595c;
    padding: 15px;
    background-color: #FFFFFF;
}
.details, .descripcion-product, .info-covid {
    padding: 2% !important;
    margin-right: 28px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.container-photos {
    width: 100%;
    height: 390px;
    margin: auto;
    margin-left: 10px;
    .image {
        margin: auto;
        display: inline-flex;
        width: 100%;
        overflow: overlay;
    }
    img {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 2px 6px #0d595c;
        margin: 0 auto;
    }
}
.details {
    width: 43%;
    height: 100%;
    margin: auto;
}
.descripcion-product {
    width: 45%;
    height: 100%;
    margin: auto;
    margin-left: 10px;
}
.info-covid {
    width: 45%;
    height: 100%;
    margin: auto;
    margin-right: 0px !important;
}
.container-opinion {
    width: 75%;
    margin-top: 30px;
    margin-left: 10px;
    .commentary {
        display: flex;
        flex-direction: row;
        dx-text-area:hover {
            box-shadow: 0px 2px 6px #0d595c;
        }
        dx-text-area:focus {
            box-shadow: 0px 2px 6px #0d595c;
        }
    }
    .button-enviar {
        display: flex;
        flex-direction: row;
    }
}
.list-commentaries {
    display: flex;
    flex-direction: row;
    dx-text-area {
        box-shadow: 0px 2px 6px #0d595c;
    }
    .icon {
        .imageUser {
            display: inline-flex;
            img {
                width: 50px !important;
                height: 45px !important;
                padding: 2%;
                border-radius: 10px;
                margin-top: 2px;
            }
        }
    }
}
@media (max-width: 812px) {
    .body {
        .details, .descripcion-product, .info-covid {
            margin-right: 0px !important;
        }
        .row1, .row2, .row3 {
            width: 100%;
        }
        .row1 {
            display: block;
            .container-photos {
                width: 100%;
                margin-left: 0px;
                .imgInfo {
                    height: 246px !important;
                    width: 85% !important;
                }
            }
        }
        .row2 {
            display: block;
            height: auto;
            margin-right: 0px;
            .descripcion-product {
                width: 100%;
                margin-left: 0px;
            }
            .details {
                width: 100%;
            }
            .info-covid {
                width: 100%;
                height: auto;
            }
        }
        .row3 {
            .container-opinion {
                width: 100%;
                margin-left: 0px;
                margin-top: 0px;
                .commentary {
                    dx-button {
                        width: 30% !important;
                    }
                }
                .list-commentaries {
                    display: inline-flex;
                    width: 100% !important;
                    .icon {
                        width: 25%;
                        .imageUser {
                            display: block;
                            margin-left: -9px;
                        }
                    }
                    .comment{
                        width: 75%;
                        dx-text-area {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}