<div id="form">
    <form novalidate (submit)="saveProduct($event)">
        <dx-scroll-view [height]="550" direction="vertical">
            <dx-responsive-box singleColumnScreen="xs sm" style="padding: 2%;">
    
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
                <dxi-row [ratio]="1"></dxi-row>
    
                <dxi-col [ratio]="1"></dxi-col>
                <dxi-col [ratio]="1"></dxi-col>
    
                <dxi-item>
                    <dxi-location [row]="0" [col]="0" screen="md lg"></dxi-location>
                    <dxi-location [row]="0" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Tipo de producto *</div>
                        <div class="dx-field-value">
                            <dx-select-box [readOnly]="disableEdit" id="typeProducts" (onValueChanged)="dateFromTypeProduct($event)" itemTemplate="item" [items]="typeProduct" displayExpr="name" valueExpr="name" [searchEnabled]="true" placeholder="Producto"
                                [(value)]="product.type" width="60%">
                                <div *dxTemplate="let data of 'item'">
                                    <div class='custom-item' [title]='data.name'>{{data.name}}</div>
                                </div>
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>
                        </div>
                    </div>
                </dxi-item>
                <dxi-item>
                    <dxi-location [row]="0" [col]="1" screen="md lg"></dxi-location>
                    <dxi-location [row]="1" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Nombre: </div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="disableEdit" [(value)]="product.name" placeholder="Nombre de producto" width="100%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="1" [col]="0" screen="md lg" [colspan]="2"></dxi-location>
                    <dxi-location [row]="2" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Dirección: </div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="disableEdit" [(value)]="product.ubication" placeholder="Dirección" width="100%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="2" [col]="0" [colspan]="2" screen="md lg"></dxi-location>
                    <dxi-location [row]="3" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Correo administrador: </div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="disableEdit" [(value)]="product.emailAdmin" placeholder="Correo administrador" width="100%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
                
                <!-- <dxi-item>
                    <dxi-location [row]="3" [col]="0" screen="md lg"></dxi-location>
                    <dxi-location [row]="4" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field" >
                        <label>Fecha de inicio: </label>
                        <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.startDate">
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-date-box>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="3" [col]="1" screen="md lg"></dxi-location>
                    <dxi-location [row]="5" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <label >Fecha de caducidad: </label>
                        <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.endDate">
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-date-box>
                    </div>
                </dxi-item> -->
    
                <dxi-item>
                    <dxi-location [row]="3" [col]="0" [colspan]="2" screen="md lg"></dxi-location>
                    <dxi-location [row]="6" [col]="0" screen="xs sm"></dxi-location>
                    <div class="email-card">
                        <span> Servicios </span>
                        <hr>
                            <!-- <dx-text-box [height]="50" [(value)]="this.dataObservation"></dx-text-box> -->
                        <dx-list [dataSource]="listServices" [height]="250" [showSelectionControls]="true" selectionMode="multiple" valueExpr="code" [(selectedItemKeys)]="listServiceSelected" >
                            <div *dxTemplate="let data of 'item'" style="padding-bottom: 1px;padding-top: 1px;border-bottom:1px solid #ddd">
                                <p> {{data.description}} </p>
                            </div>
                        </dx-list>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="4" [col]="0" [colspan]="2" screen="md lg"></dxi-location>
                    <dxi-location [row]="7" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <span>Descripción:</span>
                        <hr>
                        <dx-text-area [readOnly]="disableEdit" [height]="100" [(value)]="product.longDescription">
                            <dx-validator>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-area>
                    </div>
                </dxi-item>
    
                <dxi-item>
                    <dxi-location [row]="5" [col]="0" screen="md lg"></dxi-location>
                    <dxi-location [row]="8" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <div class="dx-field-label">Precio: </div>
                        <div class="dx-field-value">
                            <dx-text-box [readOnly]="disableEdit" [(value)]="product.price" placeholder="Precio" width="100%">
                                <dx-validator>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                    </div>
                </dxi-item>
    
                <!--<div class="dx-field">
                    <div class="dx-field-label">Imagen: </div>
                    <div id="fileuploader-container">
                        <dx-file-uploader
                            selectButtonText="Selecciona una imagen"
                            [multiple]="false"
                            [allowedFileExtensions]="['.jpg','.jpeg', '.png']" labelText="" accept="*"
                            [maxFileSize]="1024 * 2048" uploadMode="useForm" readyToUploadMessage="" [(value)]="uploadFile">
                        </dx-file-uploader>
                        <input (change)="selectImage($event)" type="file">
                    </div>
                </div>-->
                <!--<div class="dx-field">
                    <img class="imgInfo" style="max-height: 220px;"
                      [src]="url+'/gf/'+8">
                </div>-->
                <dxi-item>
                    <dxi-location [row]="6" [col]="0" [colspan]="2" screen="md lg"></dxi-location>
                    <dxi-location [row]="9" [col]="0" screen="xs sm"></dxi-location>
                    <div class="dx-field">
                        <img [src]="imagenData" *ngIf="imagenEstado" width="100%" height="160" />
                        <img *ngIf="urlImageSelected" [src]="urlImageSelected" width="100%" height="160" />
                        <button *ngIf=" this.authService.hasRole('Administrador - Organizacion')" type="button" onclick="document.getElementById('archivo').click();">Seleccionar Imagen</button>
                        <input id="archivo" type="file" (change)="selectImage($event)" style="display: none">
                        <div class="dx-field">
                            <dx-button *ngIf=" this.authService.hasRole('Administrador - Organizacion')" type="default" text="GUARDAR" [useSubmitBehavior]="true" width="40%"></dx-button>
                        </div>
                    </div>
                </dxi-item>
    
            </dx-responsive-box>

        </dx-scroll-view>
    </form>
</div>