<div id="form">
    <form novalidate (submit)="saveProduct($event)">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Tipo de producto: </div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="product.type" placeholder="Tipo de producto" width="100%">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            <!--<div class="dx-field">
                <div class="dx-field-label">Organización *</div>
                <div class="dx-field-value">
                    <dx-select-box itemTemplate="item" [items]="organizationList" displayExpr="name" valueExpr="id" [searchEnabled]="true" placeholder="Organización"
                        [(value)]="product.organization.id">
                        <div *dxTemplate="let data of 'item'">
                            <div class='custom-item' [title]='data.name'>{{data.name}}</div>
                        </div>
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
            </div>-->

            <div class="dx-field">
                <div class="dx-field-label">Nombre: </div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="product.name" placeholder="Nombre de producto" width="100%">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Dirección: </div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="product.ubication" placeholder="Dirección" width="100%">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>
            
            <div class="dx-field">
                <div class="dx-field-label">Correo administrador: </div>
                <div class="dx-field-value">
                    <dx-text-box [(value)]="product.emailAdmin" placeholder="Correo administrador" width="100%">
                        <dx-validator>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
            </div>

            <div class="dx-field">
                <label >Fecha de inicio: </label>
                <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.startDate">
                    <dx-validator>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dx-validator>
                </dx-date-box>
            </div>

            <div class="dx-field">
                <label >Fecha de caducidad: </label>
                <dx-date-box type="date" applyValueMode="instantly" [displayFormat]="date_format" [min]="START_DATE" [max]="END_DATE" toDate="true" width="120" [(value)]="product.endDate">
                    <dx-validator>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dx-validator>
                </dx-date-box>
            </div>

            <!--<div class="dx-field">
                <div class="dx-field-label">Imagen: </div>
                <div id="fileuploader-container">
                    <dx-file-uploader
                        selectButtonText="Selecciona una imagen"
                        [multiple]="false"
                        [allowedFileExtensions]="['.jpg','.jpeg', '.png']" labelText="" accept="*"
                        [maxFileSize]="1024 * 2048" uploadMode="useForm" readyToUploadMessage="" [(value)]="uploadFile">
                    </dx-file-uploader>
                    <input (change)="selectImage($event)" type="file">
                </div>
            </div>-->
            <!--<div class="dx-field">
                <img class="imgInfo" style="max-height: 220px;"
                  [src]="url+'/gf/'+8">
            </div>-->
            

            <img [src]="imagenData" *ngIf="imagenEstado" width="100%" height="160" />
            <img *ngIf="urlImageSelected" [src]="urlImageSelected" width="100%" height="160" />
            <button type="button" onclick="document.getElementById('archivo').click();">Seleccionar Imagen</button>
            <input id="archivo" type="file" (change)="selectImage($event)" style="display: none">
            <div class="dx-field">
                <dx-button type="default" text="GUARDAR" [useSubmitBehavior]="true" width="40%"></dx-button>
            </div>
        </div>
    </form>
</div>