::ng-deep body > app-root > app-main > div > div.main-container > div.container > app-form-product {
    width: 100% !important;
}
dx-button {
    background-color: #108083 !important;
}
dx-button:hover {
    background-color: #0d595c !important;
}

::ng-deep dxi-item {
    margin-bottom: 10px !important;
}